<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="app/autoload.php">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <file>src/Kernel.php</file>
      <directory>src/DataFixtures</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="KERNEL_DIR" value="src/"/>
    <server name="KERNEL_CLASS" value="App\Kernel"/>
    <!-- ###+ symfony/framework-bundle ### -->
    <env name="APP_ENV" value="test"/>
    <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db"/>
    <env name="APP_SECRET" value="1c2365e5e228094a31128d789290ae1d"/>
    <!-- env name="TRUSTED_PROXIES" value="127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16" -->
    <!-- env name="TRUSTED_HOSTS" value="'^(localhost|example\.com)$'" -->
    <!-- ###- symfony/framework-bundle ### -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    <!-- ###+ symfony/mailer ### -->
    <!-- MAILER_DSN=smtp://localhost -->
    <!-- ###- symfony/mailer ### -->
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
  </extensions>
</phpunit>
